.cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    grid-template-rows: auto;
    padding: 50px;
    background-color:rgba(246, 246, 246, 1); 
    border-radius: 25px;
}

article {
    position: relative;
    img {
        width: 340px;
        height: 340px;
        border-radius: 15px;
    }
}

h2 {
    position: absolute;
    width: 300px;
    height: 52px;
    top: 268px;
    left: 20px;
    z-index: 2;
    color:white;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

@media (max-width: 375px) { 
    .cards-grid {
        grid-template-columns: 1fr;
        gap: 22px;
        background-color: #fff;
        padding: 0px;
    }

    article {
        img {
            width: 335px;
            height: 255px;
            border-radius: 10px;
        }
    }

    h2 {
        max-width: 295px;
        top: 188px;
    }
}
