@use "./reset";

body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 45px;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px 100px;
}

.container {
    display: flex;
    align-items: center;
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}

.imgContainer {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


    img{
        width: 100%;
        height: 223px;
        object-fit: cover;
        border-radius: 25px;
        mix-blend-mode: darken;
    }
}
@media (max-width: 1254px){
    .page {
        padding: 50px 50px;
    }
}

@media (max-width: 768px) {
    .page {
        gap: 40px;
        padding: 35px 35px;
    }
}

@media (min-width: 320px) and (max-width: 459px) {
    body {
        padding-top: 20px;
    }

    .page {
        gap: 27px;
        padding: 22px 20px;
    }
    
    .imgContainer{
        border-radius: 10px;
        img {
            border-radius: 10px;
            height: 111px;
        }
    }
}