.p404 {
    height: 364px;
    font-size: 288px;
    font-weight: bold;
    color: rgba(255, 96, 96, 1);
    text-align: center;
}

.notFoundTitle {
    color: rgba(255, 96, 96, 1);
    font-size: 36px;
    text-align: center;
    font-weight: 500;
}

.linkToHomePage {
    text-align: center;
    font-size: 19px;
    text-decoration: 1px underline;
    margin-bottom: 50px;
}

.div404 {
    justify-content: center;
    flex-direction: column;
    gap: 100px;
}

@media (max-width: 655px){
    .p404 {
        height: 250px ;
        font-size: 190px;
    }
    .div404 {
        gap: 50px;
    }
}

@media (max-width: 375px) {
    .p404 {
        height: 99px;
        font-size: 96px;
    }

    .notFoundTitle {
        font-size: 18px;
    }

    .linkToHomePage {
        font-size: 14px;
    }
}