.p404 {
    height: 364px;
    font-size: 288px;
    font-weight: bold;
    color: rgba(255, 96, 96, 1);
    text-align: center;
    margin-bottom: 139px;
}

.notFoundTitle {
    color: rgba(255, 96, 96, 1);
    font-size: 36px;
    text-align: center;
    margin-bottom: 139px;
    font-weight: 500;
}

.linkToHomePage {
    text-align: center;
    font-size: 19px;
    text-decoration: 1px underline;
    margin-bottom: 89px;
}