.dropDownCard {
  width: 100%;
  border-radius: 5px;
  background-color: rgba(255, 96, 96, 1);
  overflow: hidden;
}

.TopBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;

  p {
    color: white;
    font-size: 21px;
    font-weight: bold;
  }

  .ArrowBack {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease;

    &.rotate {
      transform: rotate(-180deg);
    }
  }
}

.descriptionText {
  font-size: 18px;
}

.dropDownCardDescription {
  background-color: rgba(246, 246, 246, 1);
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;

  &.open {
    animation: fadeIn 0.3s ease forwards;
  }

  &.closing {
    animation: fadeOut 0.15s ease forwards;
  }
}

// Animation d'ouverture
@keyframes fadeIn {
  from {
    opacity: 0;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    max-height: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    transform: translateY(0);
  }
}

// Animation de fermeture
@keyframes fadeOut {
  from {
    opacity: 1;
    max-height: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    transform: translateY(-5px);
  }
}

@media (max-width: 375px) {
  .TopBar  {
    padding: 5px 10px;
    p {
      font-size: 13px;
    }
    .ArrowBack {
      width: 16px;
      height: 16px;
      align-items: center;
    }

    
  }
  .descriptionText {
    font-size: 13px;
  }

  // Animation d'ouverture
  @keyframes fadeIn {
    from {
      opacity: 0;
      max-height: 0;
      padding-top: 0;
      padding-bottom: 0;
      transform: translateY(-5px);
    }
    to {
      opacity: 1;
      max-height: 500px;
      padding-top: 10px;
      padding-bottom: 10px;
      transform: translateY(0);
    }
  }

  // Animation de fermeture
  @keyframes fadeOut {
    from {
      opacity: 1;
      max-height: 500px;
      padding-top: 10px;
      padding-bottom: 10px;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      max-height: 0;
      padding-top: 0;
      padding-bottom: 0;
      transform: translateY(-5px);
    }
  }
}