.containerHeader {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-bottom: 0px;
  padding-top: 0px;

  img {
    width: 210px;
    height: 68px;
    border-radius: 0px;
  }

  nav {
    display: flex;
    gap: 57px;
    align-items: center;
    a {
      font-size: 24px;
    }
  }
}


@media (max-width: 572px) {
  header{
    .containerHeader {
      img {
        width: 145px;
        height: 47px;
      }
      nav {
        gap: 26px;
        
        a {
          font-size: 17px;
        }
      }
      
    }
  }
}

@media (max-width: 375px){
  header {
    .containerHeader {
      nav {
        a {
          font-size: 12px;
        }
      }
      
    }
  }
  
}

@media (max-width: 335px) {
  header {
    .containerHeader {
      gap: 0px;
      nav {
        gap: 15px;
      }
    }
  }
}