.containerHeader {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  img {
    width: 210px;
    height: 68px;
    border-radius: 0px;
  }

  nav {
    display: flex;
    gap: 57px;
    a {
      font-size: 24px;
    }
  }
}


@media (max-width: 375px) {
  header{
    .containerHeader {
      img {
        width: 145px;
        height: 47px;
      }
      nav {
        gap: 26px;
        
        a {
          font-size: 12px;
        }
      }
      
    }
  }
}