.housing-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tags {
    display: flex;
    gap: 10px;
}

.tag {
    background-color: #ff6060;
    color: white;
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
}

.stars {
    display: flex;
    gap: 15px;
    align-items: center;
}

.star {
    height: 25px;
    width: 25px;
}

